* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Shantell Sans", cursive;
  background-color: #1f242d;
  color: #fff;
}

section {
  height: 100vh;
  padding: 10em 9% 2em;
}

span {
  color: #15a3fb;
}

*::-moz-selection {
  background: #15a3fb;
  color: #fff;
}

*::selection {
  background: #15a3fb;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .sticky {
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
}
.header .logo {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}
.header .navbar a {
  color: #fff;
  font-size: 1.7rem;
  margin-left: 4em;
  transition: color 0.8s;
}
.header .navbar .link {
  position: relative;
}
.header .navbar a.active,
.header .navbar a:hover {
  color: #15a3fb;
}
.header .navbar .link,
.header .navbar .link::after,
.header .navbar .link::before {
  transition: 0.8s;
}
.header .navbar .link::after {
  content: "";
  height: 0.1em;
  width: 100%;
  padding-top: 0.1em;
  background-color: #15a3fb;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
}
.header .navbar .link:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

#menu-icon {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home img {
  width: 20vw;
  animation: floatImage 4s ease-in-out infinite;
}
.home .home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home .home-content h3:nth-of-type(2) {
  margin-bottom: 2em;
}
.home .home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home .home-content p {
  font-size: 1.6rem;
}
.home .home-content span {
  color: #15a3fb;
}
.home .home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #15a3fb;
  border-radius: 50%;
  font-size: 2rem;
  color: #15a3fb;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.home .home-content .social-media a:hover {
  background: #15a3fb;
  color: #fff;
  box-shadow: 0 0 1rem #15a3fb;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1em 2.8em;
  color: #1f242d;
  background: #15a3fb;
  border-radius: 4rem;
  box-shadow: 0 0 1em #15a3fb;
  letter-spacing: 0.1em;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  background: #15a3fb;
  color: #fff;
  box-shadow: none;
}

.about {
  background-color: #323946;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about img {
  width: 20vw;
}
.about a {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1em 2.8em;
  color: #1f242d;
  background: #15a3fb;
  border-radius: 4rem;
  box-shadow: 0 0 1em #15a3fb;
  letter-spacing: 0.1em;
  font-weight: 600;
  transition: 0.5s ease;
}
.about h2 {
  text-align: center;
  line-height: 1.2;
}
.about h3 {
  font-size: 2.6rem;
}
.about p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  text-align: center;
}
.about .about-content {
  position: relative;
}

.heading {
  text-align: center;
  font-size: 4.5em;
}

.services {
  min-height: auto;
  padding-bottom: 10rem;
}
.services h2 {
  margin-bottom: 5em;
}
.services .services-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
.services .services-cards .card {
  flex: 1 1 30em;
  background: #323946;
  padding: 3em 2em 4em;
  border-radius: 2em;
  text-align: center;
  border: 0.2em solid #1f242d;
  transition: 0.5s ease;
}
.services .services-cards .card i {
  font-size: 7rem;
  color: #15a3fb;
}
.services .services-cards .card h3 {
  font-size: 2.6rem;
}
.services .services-cards .card p {
  font-size: 1.6rem;
  margin: 1em 0 3em;
}
.services .services-cards .card:hover {
  border-color: #15a3fb;
  transform: scale(1.02);
}

.portfolio {
  background-color: #323946;
  min-height: auto;
  padding-bottom: 10rem;
}
.portfolio h2 {
  margin-bottom: 4em;
}
.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5em;
}
.portfolio .portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2em;
  box-shadow: 0 0 1em #15a3fb;
  overflow: hidden;
  display: flex;
}
.portfolio .portfolio-container .portfolio-box a {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background: none;
  color: #fff;
  font-size: 4.5em;
  text-shadow: 0.2em 0.2em 0.5em rgb(0, 0, 0);
  cursor: pointer;
}
.portfolio .portfolio-container .portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio .portfolio-container .portfolio-box .portfolio-shadow {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #15a3fb);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio .portfolio-container .portfolio-box .portfolio-shadow .text-box {
  position: absolute;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 1.5em 3em;
}
.portfolio .portfolio-container .portfolio-box .portfolio-shadow .text-box p {
  font-size: 2.5rem;
}
.portfolio .portfolio-container .portfolio-box .portfolio-shadow .text-box h1 {
  font-size: 3rem;
}
.portfolio .portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-box:hover .portfolio-shadow {
  transform: translateY(0);
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
}
.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: #323946;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  resize: none;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: #323946;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  width: 49%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 9%;
  background: #323946;
  flex-wrap: wrap;
}
.footer .footer-text p {
  font-size: 1.6rem;
}

.scrollToTop {
  position: fixed;
  text-align: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  bottom: 3em;
  right: 2em;
  color: #fff;
  font-size: 3rem;
  display: none;
}

.hide {
  display: inline;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 879px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 70vw;
    margin-top: 4rem;
  }
}
@media (max-width: 580px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
@media (max-width: 365px) {
  .home-img img,
  .about-img img {
    width: 90vw;
  }
}/*# sourceMappingURL=main.css.map */