@import 'colors';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: $bgColor;
	color: $textColor;
}
section {
	height: 100vh;
	padding: 10em 9% 2em;
}
span {
	color: $mainColor;
}
*::selection {
	background: $mainColor;
	color: $textColor;
}
.header {
	.sticky {
		border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background: $bgColor;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	.logo {
		color: $textColor;
		font-size: 2.5rem;
		font-weight: 600;
	}

	.navbar {
		a {
			color: $textColor;
			font-size: 1.7rem;
			margin-left: 4em;
			transition: color 0.8s;
		}
		.link {
			position: relative;
		}
		a.active,
		a:hover {
			color: $mainColor;
		}
		.link,
		.link::after,
		.link::before {
			transition: 0.8s;
		}
		.link::after {
			content: '';
			height: 0.1em;
			width: 100%;
			padding-top: 0.1em;
			background-color: $mainColor;
			position: absolute;
			left: 0;
			bottom: 0;
			transform: scaleX(0);
			transform-origin: left;
		}
		.link:hover::after {
			transform: scaleX(1);
			transform-origin: right;
		}
	}
}
#menu-icon {
	font-size: 3.6rem;
	color: $textColor;
	display: none;
}
.home {
	display: flex;
	justify-content: center;
	align-items: center;
	.hero-img {
		padding: 10em;
		img {
			width: 20vw;
			animation: floatImage 4s ease-in-out infinite;
		}
	}

	.home-content {
		h3 {
			font-size: 3.2rem;
			font-weight: 700;
		}
		h3:nth-of-type(2) {
			margin-bottom: 2em;
		}
		h1 {
			font-size: 5.6rem;
			font-weight: 700;
			line-height: 1.3;
		}
		p {
			font-size: 1.6rem;
		}
		span {
			color: $mainColor;
		}
		.social-media {
			a {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 4rem;
				height: 4rem;
				background: transparent;
				border: 0.2rem solid $mainColor;
				border-radius: 50%;
				font-size: 2rem;
				color: $mainColor;
				margin: 3rem 1.5rem 3rem 0;
				transition: 0.5s ease;
			}
			a:hover {
				background: $mainColor;
				color: $textColor;
				box-shadow: 0 0 1rem $mainColor;
			}
		}
	}
}
@keyframes floatImage {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2.4rem);
	}

	100% {
		transform: translateY(0);
	}
}
.btn {
	display: inline-block;
	font-size: 1.6rem;
	padding: 1em 2.8em;
	color: $bgColor;
	background: $mainColor;
	border-radius: 4rem;
	box-shadow: 0 0 1em $mainColor;
	letter-spacing: 0.1em;
	font-weight: 600;
	transition: 0.5s ease;
}
.btn:hover {
	background: $mainColor;
	color: $textColor;
	box-shadow: none;
}
.about {
	background-color: $bg2Color;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 10em;
	img {
		width: 20vw;
	}
	a {
		display: inline-block;
		font-size: 1.6rem;
		padding: 1em 2.8em;
		color: $bgColor;
		background: $mainColor;
		border-radius: 4rem;
		box-shadow: 0 0 1em $mainColor;
		letter-spacing: 0.1em;
		font-weight: 600;
		transition: 0.5s ease;
	}
	h2 {
		text-align: center;
		line-height: 1.2;
	}

	h3 {
		font-size: 2.6rem;
	}
	p {
		font-size: 1.6rem;
		margin: 2rem 0 3rem;
		text-align: center;
	}
	.about-content {
		position: relative;
		text-align: center;
	}
}
.heading {
	text-align: center;
	font-size: 2.5em;
}
.services {
	min-height: 100vh;
	padding-bottom: 1rem;

	h2 {
		margin-bottom: 3em;
	}
	.services-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		.services-box {
			flex: 1 1 30em;
			background: $bg2Color;
			padding: 3em 2em 4em;
			border-radius: 2em;
			text-align: center;
			border: 0.2em solid $bgColor;
			transition: 0.5s ease;
			i {
				font-size: 3rem;
				color: $mainColor;
				padding: 0 1 1em;
			}
			h3 {
				font-size: 2.6rem;
			}
			p {
				font-size: 1.6rem;
				margin: 1em 0 3em;
			}
		}
		.services-box:hover {
			border-color: $mainColor;
			transform: scale(1.02);
		}
	}
}
.portfolio {
	background-color: $bg2Color;
	min-height: auto;
	padding-bottom: 10rem;
	h2 {
		margin-bottom: 4em;
	}
	.portfolio-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		gap: 2.5em;
		.portfolio-box {
			position: relative;
			border-radius: 2em;
			box-shadow: 0 0 1em $mainColor;
			overflow: hidden;
			display: flex;
			a {
				position: absolute;
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 1em;
				background: none;
				color: $textColor;
				font-size: 4.5em;
				text-shadow: 0.2em 0.2em 0.5em rgb(0, 0, 0);
				cursor: pointer;
			}
			img {
				width: 100%;
				transition: 0.5s ease;
			}

			.portfolio-shadow {
				background: linear-gradient(rgba(0, 0, 0, 0.1), $mainColor);
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				transform: translateY(100%);
				transition: 0.5s ease;
				.text-box {
					position: absolute;
					width: 100%;
					color: $textColor;
					text-align: center;
					padding: 1.5em 3em;
					p {
						font-size: 2rem;
					}
					h1 {
						font-size: 2.5rem;
					}
				}
			}
		}
	}
	.portfolio-box:hover img {
		transform: scale(1.1);
	}
	.portfolio-box:hover .portfolio-shadow {
		transform: translateY(0);
	}
}
.contact {
	min-height: auto;
	padding-bottom: 7rem;
	h2 {
		margin-bottom: 3rem;
	}
	form {
		max-width: 70rem;
		margin: 1rem auto;
		text-align: center;
		margin-bottom: 3rem;
		.btn {
			margin-top: 2rem;
			cursor: pointer;
		}
		textarea {
			width: 100%;
			padding: 1.5rem;
			font-size: 1.6rem;
			color: $textColor;
			background: $bg2Color;
			border-radius: 0.8rem;
			margin: 0.7rem 0;
			resize: none;
		}
		.input-box {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			input {
				width: 100%;
				padding: 1.5rem;
				font-size: 1.6rem;
				color: $textColor;
				background: $bg2Color;
				border-radius: 0.8rem;
				margin: 0.7rem 0;
				width: 49%;
			}
		}
	}
}
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2em 9%;
	flex-wrap: wrap;
	.footer-text {
		p {
			font-size: 1.6rem;
		}
	}
}

.scrollToTop {
	position: fixed;
	text-align: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	bottom: 3em;
	right: 2em;
	color: $textColor;
	font-size: 3rem;
	display: none;
}
.hide {
	display: inline;
}
@media (max-width: 2400px) {
	html {
		font-size: 55%;
	}

	.contact {
		margin-top: 20em;
	}
}
@media (max-width: 1024px) {
	html {
		font-size: 55%;
	}
	.portfolio {
		.portfolio-container {
			.portfolio-box {
				.portfolio-shadow {
					a{
						font-size: 3rem;
						margin-top: 1em;
					}
					.text-box{
						h1 {
							font-size: 2rem;
						}
						p{
							font-size: 1.5rem;
						}
						
					}
					
				}
			}
		}
	}
	.contact {
		margin-top: 30em;
	}
}
@media (max-width: 991px) {
	.header {
		padding: 2rem 3%;
	}

	section {
		padding: 10rem 3% 2rem;
	}

	.footer {
		padding: 2rem 3%;
		margin-top: 10em;
	}
}
@media (max-width: 879px) {
	.portfolio {
		.portfolio-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 768px) {
	html {
		font-size: 50%;
	}
	#menu-icon {
		display: block;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		display: none;
	}

	.navbar.active {
		display: block;
	}

	.navbar {
		a {
			display: block;
			font-size: 2rem;
			margin: 3rem 0;
		}
	}

	.home {
		flex-direction: column;
	}

	.home-content {
		h3 {
			font-size: 2.6rem;
		}
	}

	.home-content {
		h1 {
			font-size: 5rem;
		}
	}

	.home {
		img {
			width: 50vw;
		}
	}

	.about {
		margin-top: 20em;
		flex-direction: column-reverse;
		img {
			width: 50vw;
			margin-top: 4rem;
			padding: 10em 10em 0;
		}
	}
	.portfolio{
		.portfolio-container {
			.portfolio-box {
				.portfolio-shadow {
					a{
						font-size: 3rem;
						margin-top: 1em;
					}
					.text-box{
						h1 {
							font-size: 3rem;
						}
						p{
							font-size: 2.5rem;
						}
						
					}
					
				}
			}
		}
	}
	.contact {
		margin-top: 20em;
	}
}
@media (max-width: 580px) {
	.portfolio {
		.portfolio-container {
			grid-template-columns: 1fr;
		}
	}
}
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.home {
		.hero-img {
			img {
				margin-top: 5em;
				width: 50vw;
				padding: 0 4em;
			}
		}
	}
	.about {
		.about-img {
			img {
				width: 50vw;
				padding: 0 4em;
			}
		}
	}
	.portfolio {
		margin-top: 40em;
		
	}

	.contact form .input-box input {
		width: 100%;
	}

	.footer {
		flex-direction: column-reverse;
	}

	.footer {
		p {
			text-align: center;
			margin-top: 2rem;
		}
	}
}

@media (max-width: 375px) {
	html {
		font-size: 35%;
	}

	.portfolio {
		margin-top: 20em;
	}
}
