@import 'reset';
@import 'colors';
html {
	overflow-x: hidden;
}
body {
	font-family: 'Shantell Sans', cursive;
	background-color: $bgColor;
	color: $textColor;
}
section {
	height: 100vh;
	padding: 10em 9% 2em;
}
span {
	color: $mainColor;
}
.header {
	.sticky {
		border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
	}
	display: flex;
	position: fixed;
	background-color: $bgColor;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2em 9%;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	.logo {
		color: $textColor;
		font-size: 2.5rem;
		font-weight: 600;
		cursor: default;
	}
	a {
		color: $textColor;
		font-size: 1.7rem;
		margin-left: 4em;
		transition: color 0.8s;
	}
	.navbar {
		.link {
			position: relative;
		}
		a.active,
		a:hover {
			color: $mainColor;
		}
		.link,
		.link::after,
		.link::before {
			transition: 0.8s;
		}
		.link::after {
			content: '';
			height: 0.1em;
			width: 100%;
			padding-top: 0.1em;
			background-color: $mainColor;
			position: absolute;
			left: 0;
			bottom: 0;
			transform: scaleX(0);
			transform-origin: left;
		}
		.link:hover::after {
			transform: scaleX(1);
			transform-origin: right;
		}
	}
}
#menu-icon {
	font-size: 3.6rem;
	color: $textColor;
	display: none;
}
.home {
	gap: 4em;
	padding: 10em 20em;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 20vw;
		height: 40em;
	}
	.home-content {
		h3 {
			font-size: 3.2rem;
			font-weight: 700;
			line-height: 1.3;
		}
		h3:nth-of-type(2) {
			margin-bottom: 2em;
		}
		h1 {
			font-size: 5.6rem;
			font-weight: 700;
			line-height: 1.3;
		}
		p {
			font-size: 1.6rem;
			line-height: 1.3;
		}
		span {
			color: $mainColor;
		}
		.social-media {
			a {
				display: inline-flex;
				color: $textColor;
				font-size: 2rem;
				justify-content: center;
				align-items: center;
				width: 4rem;
				height: 4rem;
				background: transparent;
				border: 0.2rem solid $mainColor;
				border-radius: 50%;
				color: $mainColor;
				margin: 3rem 1rem 3rem 0;
				transition: 0.5s ease;
			}
			a:hover {
				background: $mainColor;
				color: $textColor;
				box-shadow: 0 0 1rem $mainColor;
			}
		}
	}
}
.btn {
	display: inline-block;
	font-size: 1.6rem;
	padding: 1em 2.8em;
	color: $bgColor;
	background: $mainColor;
	border-radius: 4rem;
	box-shadow: 0 0 1em $mainColor;
	letter-spacing: 0.1em;
	font-weight: 600;
	transition: 0.5s ease;
}
.btn:hover {
	background: $mainColor;
	color: $textColor;
	box-shadow: none;
}
.about {
	background-color: $bg2Color;
	gap: 2em;
	padding: 1em 20em;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 20vw;
		height: 40em;
	}
	a {
		display: inline-block;
		font-size: 1.6rem;
		padding: 1em 2.8em;
		color: $bgColor;
		background: $mainColor;
		border-radius: 4rem;
		box-shadow: 0 0 1em $mainColor;
		letter-spacing: 0.1em;
		font-weight: 600;
		transition: 0.5s ease;
	}
	h2 {
		text-align: center;
		font-size: 4.5rem;
	}

	h3 {
		line-height: 1.3;
		font-size: 2.6rem;
		text-align: center;
	}
	p {
		font-size: 1.8rem;
		line-height: 1.3;
		padding: 1em;
		text-align: center;
	}
	.about-content {
		position: relative;
	}
	.btn {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 5rem;
	}
}
.heading {
	text-align: center;
	font-size: 4.5em;
}
.services {
	h2 {
		margin-bottom: 3em;
	}
	.services-cards {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		flex-wrap: wrap;
		.card {
			flex: 1 1 30em;
			background: $bg2Color;
			padding: 3em 2em 4em;
			border-radius: 2em;
			text-align: center;
			border: 0.2em solid $bgColor;
			transition: 0.5s ease;
			i {
				font-size: 7rem;
				color: $mainColor;
			}
			h1 {
				font-size: 2.6rem;
				padding: 1em 2em;
			}
			p {
				font-size: 1.6rem;
				margin: 1em 0 3em;
			}
		}
		.card:hover {
			border-color: $mainColor;
			transform: scale(1.02);
		}
	}
}
.portfolio {
	background-color: $bg2Color;
	h2 {
		margin-bottom: 3em;
	}
	.portfolio-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		gap: 2.5em;
		.portfolio-box {
			position: relative;
			border-radius: 2em;
			box-shadow: 0 0 1em $mainColor;
			overflow: hidden;
			display: flex;
			a {
				position: absolute;
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 1em;
				background: none;
				color: $textColor;
				font-size: 4.5em;
				text-shadow: 0.2em 0.2em 0.5em rgb(0, 0, 0);
				cursor: pointer;
			}
			img {
				width: 100%;
				transition: 0.5s ease;
			}

			.portfolio-shadow {
				background: linear-gradient(rgba(0, 0, 0, 0.1), $mainColor);
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				transform: translateY(100%);
				transition: 0.5s ease;
				.text-box {
					position: absolute;
					width: 100%;
					color: $textColor;
					text-align: center;
					padding: 1.5em 3em;
					p {
						font-size: 2.5rem;
					}
					h1 {
						font-size: 3rem;
					}
				}
			}
		}
	}
	.portfolio-box:hover img {
		transform: scale(1.1);
	}
	.portfolio-box:hover .portfolio-shadow {
		transform: translateY(0);
	}
}
.contact {
	height: 100%;
	.btn {
		margin: 3em;
		cursor: pointer;
		overflow: hidden;
	}
	h2 {
		margin: 2em 3em;
	}
	form {
		flex-direction: row;
		justify-content: center;
		width: 49%;
		min-width: 70em;
		margin: 1em auto;
		text-align: center;
		margin-bottom: 3em;
		textarea {
			width: 100%;
			// padding: 1.5em;
			font-size: 1.6rem;
			color: $textColor;
			background: $bg2Color;
			border-radius: 0.8em;
			margin: 0.7em 0;
			resize: none;
		}
	}

	.input-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		input {
			padding: 1.5em;
			// margin: 0.5em;
			font-size: 1.6rem;
			color: $textColor;
			background: $bg2Color;
			border-radius: 0.8em;
			margin: 0.7em 0;
			width: 49%;
		}
	}
}
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2em 9%;
	background: $bg2Color;
	flex-wrap: wrap;
	.footer-text {
		color: $textColor;
		font-size: 1.6rem;
		text-align: center;
	}
}

.scrollToTop {
	position: fixed;
	text-align: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	// border-radius: 50%;
	bottom: 3em;
	right: 2em;
	// box-shadow: 0 16px 32px rgba(250, 250, 250, 0.2);
	color: $textColor;
	font-size: 3rem;
	display: none;
}
.hide {
	display: inline;
}

@media (max-width: 1400px) {
	html {
		font-size: 75%;
	}
	.header {
		a {
			margin-left: 2em;
		}
	}
}
@media (max-width: 1024px) {
	.contact {
		form {
			min-width: 60em;
		}
	}
}
@media (max-width: 991px) {
	.header {
		padding: 2em 3%;
	}
	.home {
		img {
			width: 30vw;
		}
	}
	.about {
		img {
			width: 30vw;
		}
	}
	section {
		padding-right: 1em;
	}
	.portfolio {
		margin-top: 30em;
		.portfolio-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.contact {
		margin-top: 30em;
		form {
			grid-template-columns: repeat(2, 1fr);
			margin-left: 0;
			min-width: 45em;
			}
		}
	
	.footer {
		padding: 2em 3%;
		margin-top: 2em;
		width: 100%;
	}
}

@media (max-width: 768px) {
	#menu-icon {
		display: block;
	}
	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1em 3%;
		background: $bgColor;
		border-top: 0.1em solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
		display: none;
		.active {
			display: block;
		}
		a {
			display: block;
			font-size: 2rem;
			margin: 3em 0;
		}
	}
	.home {
		padding: 5em 10em;
		flex-direction: column-reverse;
		.hero-img {
			margin-top: 1em;
			img {
				width: 45vw;
				padding: 2em 4em;
			}
		}

		.home-content {
			margin-top: 7em;
			h3:nth-of-type(2) {
				margin-bottom: 1em;
			}
			h1 {
				font-size: 5em;
			}
			.btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				margin-top: 1rem;
			}
		}
	}
	.about {
		padding: 5em 10em;
		flex-direction: column;
		.about-img {
			margin-top: 10em;
			img {
				width: 45vw;
				padding: 2em 4em;
			}
		}

		.about-content {
			margin: 2em 0;
		}
	}
	.portfolio {
		margin-top: 30em;
		.portfolio-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.footer {
		margin-top: 20em;
	}
}
@media (max-width: 617px) {
	html {
		font-size: 50%;
	}
	.portfolio {
		margin-top: 25em;

		.portfolio-container {
			grid-template-columns: 1fr;
		}
	}
	.contact {
		form {
			min-height: 100%;
			// margin: 0 auto;
		}
	}
}
@media (max-width: 450px) {
	.header {
		width: 100vw;
		// padding: 2em 4em;
	}
	.home {
		padding: 2em 4em;
		min-height: auto;

		.hero-img {
			img {
				width: 55vw;
				padding-bottom: 10em;
			}
		}

		.home-content {
			padding-top: 10em;
			h3 {
				font-size: 1.6rem;
			}
			h1 {
				font-size: 3rem;
			}
			.btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				margin-top: 1rem;
			}
		}
	}
	.about {
		flex-direction: column;
		.about-img {
			margin-top: 1em;
			img {
				width: 45vw;
				height: 45vh;
				margin: 8em 0;
			}
		}
	}
	.about-content {
		margin-top: 5em;
		margin-bottom: 2em;
	}
	.portfolio {
		margin-top: 20em;
		.portfolio-container {
			grid-template-columns: 1fr;
		}
	}
	.contact {
		form {
			textarea {
				display: flex;
				width: 100vw;
				min-width: 4,5em;
					
				
			}
		}
		.input-box {
			input {
				width: 100vw;
			}
		}
	}
}
